@{
    ViewBag.Title = "Register";
}
@if (Model.register) {
    <form method="POST">
        Username <input type="text" name="Username" />
        <br />
        Password <input name="Password" type="password" />
        <br />
        <input type="submit" value="Register" />
    </form>
} else {
	@Model.message
}
