@{
    ViewBag.Title = "Sign Up";
}

@if (Model.errorMessage != null) {
    <div class="row">
        <div class="large-4 large-centered columns">
            <div class="callout alert">
                @Model.errorMessage
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="large-4 large-centered columns">
        <div class="callout">
            <form data-abide novalidate method="post">
                <label>
                    <input type="text" placeholder="Login" required name="Username"/>
                    <span class="form-error">
                        Yo, you had better fill this out, it's required.
                    </span>
                </label>
                <label>
                    <input type="password" id="password" placeholder="Password" required name="Password"/>
                    <span class="form-error">
                        I'm required!
                    </span>
                </label>
                <label>
                    <input type="password" placeholder="Re-enter password" required data-equalto="password"/>
                    <span class="form-error">
                        Passwords are supposed to match!
                    </span>
                </label>
                <button class="button" type="submit" formaction="register">Sign up</button>
            </form>
        </div>
    </div>
</div>
