@{
    ViewBag.Title = "Registration succesfull";
}
@section meta {
    HTTP-EQUIV="REFRESH" CONTENT="3; URL=/"
}
<div class="row">
    <div class="large-4 large-centered columns">
        <div class="callout success">
            Your account has been successfully registered
        </div>
    </div>
</div>
